<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="/public/main.css" rel="stylesheet">

    <title>할일 목록</title>
</head>
<body>
  

      <div class="container">
        <%- include('nav.html')%>
        
        <div class="container input-group mb-2">
          <input class="form-control" id = "search-input">
          <button class="input-group-append btn" id="search">검색</button>
        </div>

        <h4 class="ml-2 my-3">검색결과</h4>

        <ul class="list-group">
            <% if(ans.length){ %>
            <% for (var i = 0; i < ans.length; i++){ %>
            <li class="list-group-item">
              <h4> 할 일 : <%= ans[i].일정 %> </h4>
              <p> 마감날짜 : <%= ans[i].날짜 %> </p>
              <button onclick="location.href='/edit/<%=ans[i]._id%>'">수정</button>
              <button class = 'delete' data-id = "<%=ans[i]._id%>">삭제</button>
            </li>
            <% } %>
            <% }else{ %>
              <h5 style="margin-left: 10px;">검색결과가 없습니다.</h5>
              <% } %>
          </ul>
      </div>
      
      <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

      <script>

        $('#search').click(function(e){
          var val = $('#search-input').val();
          window.location.replace(`/search?value=${val}`);
        })

        $('.delete').click(function(e){
          var postNum = e.target.dataset.id;
          const nowClick = $(this);
          $.ajax({
            method : 'DELETE',
            url : '/delete',
            data : {_id : postNum}
          }).done(function(result){
            console.log('성공!');
            nowClick.parent('li').fadeOut();
          }).fail(function(xhr, textStatus, errorThrown){
            console.log(xhr, textStatus, errorThrown);
          });
        });

      </script>

    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>